.padding-0 {
  padding: 0 !important;
}
.fc-sun {
  background: #ffbb44;
}
.banner-img {
  height: 100% !important;
  /* background: url(../../assets/images/loginbg.jpg) center no-repeat; */
  background: rgba(0, 0, 0, 0.2);
  padding: 0 !important;
  background-size: 100% 100%;
}
span.red-text {
  color: red !important;
}
html {
  height: 100% !important;
}
body {
  height: 100% !important;
}
.logo1 {
  padding-left: 10px;
}
.banner-side2 {
  background: rgba(255, 255, 255);
  height: 100% !important;
}
.Loginheader {
  margin: 0 auto;
  margin-bottom: 10px;
}
.Loginheader img {
  padding-left: 55px;
}
.logo-container {
  padding-left: 0;
  padding-right: 0;
}
.card-plain {
  padding: 150px 0px;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  max-width: 320px;
}
.m-auto {
  margin: auto !important;
}
.part1 {
  width: 350px;
  padding: 40px 0px;
  margin-top: 30px !important;
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.8);
}
.page-header-image {
  padding: 115px 0px;
}
#code_review_feedback {
  width: 100%;
  padding: 15px;
}
.help-block {
  color: red !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.no-radius {
  border-radius: 0px !important;
}
.pad-left-5 {
  padding-left: 5px !important;
  padding-top: 0px !important;
}
.textAlig {
  text-align: center;
}
#release_plan_year {
  letter-spacing: 2px;
}
#release_plan_year option {
  padding: 10px;
}
.form-box {
  margin-bottom: 0px !important;
  margin-left: 12px !important;
}
.form-box-hr {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 12px !important;
  margin-right: 18px;
}
.ui-datepicker-calendar {
  display: none;
}
.jq-toast-wrap.top-right {
  display: none !important;
}
.padding-top-less {
  padding-top: 0px !important;
}
.dataTables_filter {
  display: none !important;
}
.input-group {
  width: 100% !important;
  padding-bottom: 5px;
  resize: none;
}
.select2-container .select2-selection--single {
  height: 38px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 5px 12px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 36px !important;
}
.input-group .form-control {
  resize: none;
}
.white-box-modify {
  padding: 25px 15px !important;
}
.state-error {
  color: red !important;
}
.fas.fa-trash {
  color: red;
}
.custom_radiobox {
  float: left;
  margin-top: 1px !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 13px !important;
}
.bg-title {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 10px 8px !important;
}
.white-box {
  padding: 15px !important;
}
.white-box .box-title {
  margin-top: 15px !important;
}
.section_devide {
  padding-top: 40px;
  margin-top: 10px;
  position: relative;
  border-top: 2px solid #ddd;
}
.input-group label {
  margin-top: 10px !important;
}
label.margin-top-hide {
  margin-top: 0px !important;
}
.m-left-15 {
  margin-left: 15px !important;
}
.checkbox,
.radio {
  margin-top: 0px !important;
}
.section-divider {
  height: 0;
  border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.section-divider {
  position: relative;
  text-align: left !important;
}
.mv40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.section-divider span {
  position: absolute;
  top: -21px;
  padding-right: 10px;
  background: #fff !important;
}
.m-top-30 {
  margin-top: 30px !important;
}
.red {
  color: red !important;
}
a.dt-button,
button.dt-button,
div.dt-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.bg-companyHoliday {
  background-color: #7ace4c !important;
}
.bg-saturday {
  background-color: #4c5667 !important;
}
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0em !important;
}
.editBoxAttendance {
  width: 10%;
}
.editBoxAttendance input {
  width: 60%;
}
.error {
  border-left: 5px solid #f33155 !important;
}
.success {
  border-left: 5px solid #5cb85c !important;
}
